In [5]:
#Importando as bilbiotecas necessárias
import pandas as pd

In [12]:
#lendo o dataset (pode demorar um pouco devido a seu tamanho)
dados = pd.read_table('MICRODADOS_ENEM_2019.csv', delimiter=';',encoding='ISO-8859-1')

In [29]:
#limpando os dados
#foram removidos todos que faltaram em algum dia da prova e que tiveram a redação em branco
dados = dados.loc[dados['TP_PRESENCA_LC']==1]

In [36]:
dados = dados.loc[dados['TP_PRESENCA_MT']==1]

In [41]:
dados = dados.loc[dados['TP_PRESENCA_CN']==1]

In [42]:
dados = dados.loc[dados['TP_PRESENCA_CH']==1]

In [43]:
dados = dados.loc[dados['TP_STATUS_REDACAO']==1]

In [58]:
#Seleção de colunas com informações que serão utilizadas
colunas = ['NO_MUNICIPIO_RESIDENCIA', 'SG_UF_RESIDENCIA', 'NU_IDADE', 'TP_SEXO', 'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE', 'NO_MUNICIPIO_NASCIMENTO','SG_UF_NASCIMENTO', 'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO', 'IN_TREINEIRO']
dados_limpos = dados[colunas]

In [60]:
dados_limpos

,NO_MUNICIPIO_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,NO_MUNICIPIO_NASCIMENTO,SG_UF_NASCIMENTO,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,TP_ENSINO,IN_TREINEIRO
0,Santarém,PA,21,M,1,3,4,NaN,NaN,1,3,1,NaN,0
1,Mãe do Rio,PA,16,F,1,3,1,Paragominas,PA,3,0,1,NaN,1
2,Paragominas,PA,18,F,1,1,1,Paragominas,PA,2,0,3,1.0,0
5,Ananindeua,PA,31,M,1,1,1,Belém,PA,1,7,1,1.0,0
6,Marabá,PA,30,F,2,3,1,Marabá,PA,1,10,1,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095261,Salvador,BA,27,F,0,2,1,Salvador,BA,1,5,1,1.0,0
5095262,Santo Amaro,BA,22,F,2,2,1,Santo Amaro,BA,1,4,1,1.0,0
5095263,Cansanção,BA,32,M,0,3,1,Cansanção,BA,1,13,1,1.0,0
5095268,Salvador,BA,16,M,1,1,1,Brejo Santo,CE,3,0,1,NaN,1
5095269,Itabuna,BA,25,F,1,2,1,Itabuna,BA,1,7,1,1.0,0